*{
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
html{
    scroll-behavior: smooth;
}
.scroll{
    opacity: .5;
}
b{
    color: #84cd57;
}
h1, h2, h3, h4, h5, h6, p{
    font-weight: 300;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Jura';
    width: 100%;
    max-width: 100vw;
    transition: 0s;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    position: absolute;
    transition: .5s;
}
header:hover{
    background-color: black;
    border-bottom: 2px #84cd57 solid;
}
header:hover nav{
    border: 0px;
}
header:hover .icons-header{
    opacity: 1;
}
.icons-header{
    width: 30vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    transition: .5s;
}
.pradotech-icon{
    width: 100%;
}
.icons-header a{ 
    max-width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: fit-content;
}
.gm-icon{
    width: 35%;
}
nav{
    width: 50vw;
    height: 100%;
    margin-left: 50vw;
    display: flex;
    align-items: center;
    border-bottom: 2px #84cd57 solid;
    transition: .5s;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 4rem;
}
nav ul li a{
    font-size: 22px;
    color: white;
    text-decoration: none;
    transition: .5s;
}
nav ul li a:hover{
    color: #0073de;
}
main{
    width: 100vw;
    background-color: black;
}
#inicio{
    width: 100%;
    height: 100vh;
    background: url(img/banner2.jpg)  no-repeat top/cover;
    display: flex;
}
.container-inicial{
    background: linear-gradient(rgba(0, 0, 0, 0.6) 75%, black);
    width: 100%;
    height: 100%;
}
.text-inicio{
    width: 100%;
    height: 60%;
    margin-top: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.2rem;
}
.text-inicio h1{
    overflow: hidden;
    margin-left: 53%;
    width: 45%;
    font-size: 40px;
    margin-bottom: -.3%;
}
.text-inicio p{
    width: 41.5%;
    text-align: justify;
    font-size: 27px;
    margin-left: 53%;
}
.text-inicio a{
    font-size: 22px;
    color: white;
    text-decoration: none;
    border: 2px white solid;
    width: 15%;
    height: 13%;
    text-align: center;
    margin-left: 53%;
    padding-top: .7%;
    transition: 1s;
}
.text-inicio a:hover{
    border: 2px #84cd57 solid;
    border-radius: 50px;
}
.bottom-itens{
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40vw;
}
.img-inicial{
    display: flex;
    width: 20%;
    height: 100%;
    gap: 1.3rem;
    align-items: center;
}
.img-inicial img{
    width: 15%; 
}
.img-inicial p{
    font-size: 25px;
}
.midias{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-inicial img:hover, .img-inicial p:hover, .midias img:hover{
    cursor: pointer;
}
#cursos{
    width: 100%;
    height: fit-content;
    transition: 1s;
}
.headcursos{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54vw;
}
.headcursos h1{
    font-size: 50px;
}
.headcursos h2 a{
    color: #84cd57;
}
.curso1{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px transparent solid;
    transition: .6s;
}
.curso1:hover{
    border-bottom: 2px #0073de solid;
}
.curso2:hover{
    border-bottom: 2px #0073de solid;
    border-top: 2px #0073de solid;
}
.curso3:hover{
    border-top: 2px #0073de solid;
}
.curso2{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px transparent solid;
    transition: .6s;
}
.curso3{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px transparent solid;
    transition: .6s;
}
.curso3.open{
    height: 40%;
}
.curso2.open{
    height: 40%;
}
.curso1.open{
    height: 40%;
}
.curso1.open .texto-secundario, .curso2.open .texto-secundario, .curso3.open .texto-secundario{
    display: block;
    animation: fade-in 1s forwards ;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.texto-principal{
    display: flex;
    width: 100%;
}
.texto-secundario{
    font-size: 20px;
    text-align: justify;
    padding: 0% 5%;
    display: none;
}
.text{
    width: 50%;
    padding-left: 5%;
}
.text h1{
    font-size: 30px;
}
.text p{
    font-size: 25px;
}
.vejamais{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    width: 50%;
    font-size: 25px;
    gap: 1rem;
}
.vejamais img{
    width: 3%;
}
.vejamais p:hover, .vejamais img:hover{
    cursor: pointer;
}
#sinodal{
    width: 100%;
    height: 100vh;
    background: url(img/sinodalprado2.jpg) no-repeat center/cover;
}
.conteudo-vinheta{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(black, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), black 90%);
}
.header-sinodal{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 53%;
}
.header-sinodal img{
    width: 15%;
}
.descricao-sinodal{
    width: 100%;
    height: 60%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 50%;
    text-align: justify;
}
.descricao-sinodal a{
    border: 2px white solid;
    width: 40%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17%;
    color: white;
    text-decoration: none;
    transition: .6s;
}
.descricao-sinodal a:hover{
    border-radius: 50px;
    border-color: #84cd57;
}
.parcerias{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    gap: 4rem;
}
.img-parceiro{
    width: 8%;
}
.img-parceiro2{
    width: 15%;
}
.agti-icone{
    width: 3%;
}
#general{
    width: 100%;
    height: 100vh;
    background: url(img/gmairview.jpg) no-repeat center/cover;
}
.header-gm{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 30px;    
    gap: 3%;
    padding-left: 5%;
}
.header-gm img{
    width: 5%;
}
.gmtitle{
    color: #0073de;
    font-weight: 700;
}
.gm-content{
    width: 100%;
    height: 90%;
    padding-left: 50%;
    padding-top: 10%;
    padding-right: 5%;
    text-align: justify;
    font-size: 25px;
}
.gm-content button{
    width: 30%;
    height: 15%;
    font-size: 20px;
    font-family: 'Jura';
    background-color: transparent;
    color: white;
    border: 2px white solid;
    transition: .6s;
}
.gm-content button:hover{
    cursor: pointer;
    border-radius: 50px;
    border-color: #0073de;
}

@media screen and (max-width: 840px){
    .icons-header{
        width: 70vw;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: fixed;
        transition: .5s;
    }
    nav{
        display: none;
    }
    #inicio{
        background: url(img/banner1.jpg) no-repeat cover/center;
    }
    .text-inicio{
        width: 100%;
        height: 60%;
        margin-top: 11%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1rem;
    }
    .text-inicio h1{
        overflow: hidden;
        margin-left: 5%;
        width: 80%;
        font-size: 20px;
        margin-bottom: -.3%;
    }
    .text-inicio p{
        width: 80%;
        text-align: justify;
        font-size: 12px;
        margin-left: 5%;
    }
    .text-inicio a{
        font-size: 10px;
        color: white;
        text-decoration: none;
        border: 1px white solid;
        width: 25%;
        height: 6%;
        text-align: center;
        margin-left: 5%;
        padding-top: .7%;
        transition: 1s;
    }
    .text-inicio a:hover{
        border: 2px #84cd57 solid;
        border-radius: 50px;
    }
    .img-inicial{
        display: none;
    }
    .bottom-itens{
        gap: 0px;
        justify-content: start;
    }
    .midias img{
        width: 50%;
    }
    .midias{
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .headcursos{
        gap: 1vw;
        flex-direction: column;
        align-items: baseline;
        padding-left: 5%;
    }
    .headcursos h1{
    font-size: 20px;
    }
    .headcursos h2{
        font-size: 16px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .text h1{
        font-size: 16px;
    }
    .text p{
        font-size: 12.5px;
    }
    .vejamais{
        padding-right: 10%;
    }
    .texto-secundario{
        padding: 0% 10% 0% 5%;
    }
    .header-sinodal{
        gap: 20%;
        font-size: 20px;
    }
    .header-sinodal h1{
        font-size: 20px;
    }
    .descricao-sinodal{
        padding-right: 30%;
    }
    .descricao-sinodal a{
        width: 80%;
        height: 10%;
        border: 1px white solid;
        font-size: 10px;
    }
    .parcerias{
        gap: 1rem;
        justify-content: center;
    }
    .img-parceiro{
        width: 15%;
    }
    .img-parceiro2{
        width: 25%;
    }
    .agti-icone{
        width: 5%;
    }
    .header-gm img{
        width: 10%;
    }
    .gm-content{
        padding-right: 10%;
        padding-top: 5%;
        padding-left: 30%;
    }
    .gm-content button{
        font-size: 10px;
        width: 80%;
        height: 13%;
        border: 1px white solid;
    }
    #general .conteudo-vinheta{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(black, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), black 90%);
    }
    #general{
        height: 60vh;
    }
}